* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(237, 49%, 15%);
  background-image: radial-gradient(hsl(214, 43%, 35%), hsl(237, 49%, 15%));
  color: #ffff;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.header {
  display: flex;
  width: 100%;
  max-width: 76rem;
  padding: 1.5rem 3rem;
  justify-content: space-between;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
}

.header__score {
  width: 10rem;
  text-align: center;
  background: hsl(0, 0%, 100%);
  color: hsl(229, 25%, 31%);
  border-radius: 8px;
}

.header__score-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: hsl(229, 64%, 46%);
  margin: 0 auto;
}

.header__score-number {
  font-size: 6rem;
  font-weight: 700;
  color: black;
  margin: auto 0;
}


.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
